body{
    margin: 0;
    padding: 0;
    background-color: rgba(29, 29, 29, 1);
    color:#fff;
    height: 100vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
#container{
    display: flex;
    flex-direction: row;
    width: 700px;
    justify-content: space-between;
    align-items: center;
}

#parameters{
    display: flex;
    flex-direction: column;
    height: 20vh;
    width: 300px;
    /* background-color: red; */
    justify-content: space-between;
    font-size: .7em;
    text-align: right;
}
#parameters input {
    background: none;
    border:none;
    font-size: 1em;
    padding: 10px;
    border-bottom: solid .2px white;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    /* font-weight: bold; */
}
#parameters #target{
    color: aqua;
}
#parameters #mutation-rate{
    color: rgb(247, 68, 45);
}
#parameters #population-size{
    color: tomato;
}
#parameters button{
    border: solid 1px white;
    background: none;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    font-size: 1em;
    width: 140px;
    margin: 30px auto;
}
#parameters button:hover{
    cursor: pointer;
    background-color: #fff;
    color: rgba(29, 29, 29, 1);
}
#result-panel{
    width: 300px;
    /* background-color: red; */
    text-align: justify;
    margin-left: 10px;
}