@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

body{
    margin: 0;
    padding: 0;
    background-color: rgba(29, 29, 29, 1);
    color:#fff;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    
}

#container{
    height: 100vh;
    display: flex;
    flex-direction: row;
    width: 700px;
    justify-content: space-between;
    align-items: center;
}

#parameters{
    display: flex;
    flex-direction: column;
    height: 20vh;
    width: 300px;
    /* background-color: red; */
    justify-content: space-between;
    /* justify-items: */
    font-size: .7em;
    text-align: right;
    /* margin: auto; */
    /* alpha:.5; */
    
}
#parameters input {
    background: none;
    border:none;
    font-size: 1em;
    padding: 10px;
    /* border-bottom: solid 1px white; */
    text-align: left;
    width: auto;
    margin: auto;
    font-family: 'Courier New', Courier, monospace;
    /* font-weight: bold; */
}
#parameters #target{
    color: aquamarine;
}
#parameters #mutation-rate{
    color: rgb(247, 68, 45);
}
#parameters #population-size{
    color: orange;
}
#parameters button{
    border: solid 1px white;
    background: none;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    font-size: 1em;
    width: 140px;
    margin: 30px auto;
    
}
#parameters button:hover{
    cursor: pointer;
    background-color: #fff;
    color: rgba(29, 29, 29, 1);
}
/* #parameters a {
    color: rgb(0, 174, 255);
    text-align: center;
    width: auto;
    margin: auto;
} */
#result-panel{
    width: 300px;
    /* background-color: red; */
    text-align: justify;
    margin-left: 10px;
}
#result{
    font-size: 5em;
    margin: 10px 0;
}

#defaultCanvas0{
    display: none;
}